html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --border-color: lightgray;
    --header-color: #121857;

    color-scheme: light dark;
    --bg: light-dark(white, black);
    --clr: light-dark(black, white);
    --header-color: light-dark(#121857, white);
}

    html:has([value="light"]:checked) {
    color-scheme: light;

    }
    html:has([value="dark"]:checked) {
    color-scheme: dark;
}

    html:has([value="smaller"]:checked) {
        font-size: smaller;
}

    html:has([value="small"]:checked) {
        font-size: small;
}

    html:has([value="medium"]:checked) {
    font-size: medium;
}

    html:has([value="large"]:checked) {
        font-size: large;
}

    html:has([value="larger"]:checked) {
        font-size: larger;
}

@keyframes iconHover {
    0% {
        scale: 1;
    }
    40% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }
}

@keyframes socialMediaHover {
    0% {
        scale: 1;
    }
    40% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 27ch;
    }
}

@keyframes cursor {
    0% {
        border-right-color: rgba(255, 255, 255, 0.7);
    }
    100% {
        border-right-color: transparent;
    }
}

body {
    margin: 0;
}

h1 {
    display: flex;
    font-size: larger;
    color: white;
}

h2 {
    display: flex;
    justify-content: left;
    padding: 0.5em;
    color: var(--header-color);
}

h3 {
    display: flex;
    justify-content: center;
    font-size: small;
    color: var(--header-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 0.25em;
    border-bottom: 0.5px solid var(--border-color);
}

header #logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 1em;
}

header #icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    column-gap: 1em;
}

header .icon:first-of-type {
    background-color: dodgerblue;
    padding: 0.3em;
    border-radius: 50%;
}

header .icon:nth-of-type(2) {
    background-color: red;
    padding: 0.3em;
    border-radius: 50%;
}

header .icon:last-of-type {
    background-color: orange;
    padding: 0.3em;
    border-radius: 50%;
}

#logo img {
    width: 3em;
    height: 3em;
}

#logo p {
    font-weight: 600;
    font-size: larger;
    color: var(--header-color);
}

.icon {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

#icons p {
    font-weight: 600;
    font-size: small;
}

#icons .icon:hover {
    animation-name: iconHover;
    animation-duration: 1s;
}

nav {
    padding: 0.25em;
    border-top: 0.5px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li {
    font-weight: 600;
    font-size: small;
    color: gray;
    list-style-type: none;
    cursor: pointer;
}

nav li:hover {
    color: forestgreen;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus {
    color: forestgreen;
}

#dropdown-menu {
    display: none;
    flex-direction: column;
    justify-content: left;
}

#dropdown-menu ul:first-of-type li:first-of-type {
    font-weight: 600;
    font-size: large;
    color: #121857;
}

#dropdown-menu ul:nth-of-type(2) li:first-of-type {
    font-weight: 600;
    font-size: large;
    color: dodgerblue;
}

#dropdown-menu ul:nth-of-type(3) li:first-of-type {
    font-weight: 600;
    font-size: large;
    color: red;
}
#dropdown-menu ul:nth-of-type(4) li:first-of-type {
    font-weight: 600;
    font-size: large;
    color: orange;
}

#dropdown-menu ul:nth-of-type(5) li:first-of-type {
    font-weight: 600;
    font-size: large;
    color: cadetblue;
}

#dropdown-menu ul:last-of-type {
    font-weight: 600;
}

#dropdown-menu li {
    padding: 0.35em;
    font-size: small;
    list-style-type: none;
}

.scherminstellingen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid var(--border-color);
}

.scherminstellingen p {
    font-weight: 600;
    font-size: large;
    color:var(--header-color);
}

input[type="radio"] {
    padding: 0.5em;
    accent-color: forestgreen;
}

main {
    margin-top: 10em;
    margin-bottom: 10em;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0.5em;
    background-color: #121857;
    border-bottom: 1px solid var(--border-color);
}

.typing-animation {
    text-align: center;
    font-size: large;
    color: white;
    border-right: solid 2px rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    overflow: hidden;
    width: 27ch;
    animation: typing 3s steps(27) 1s, cursor 500ms steps(27) infinite;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
    column-gap: 1em;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    font-size: small;
    color: black;
    cursor: pointer;
}

.button:hover{
    animation-name: iconHover;
    animation-duration: 1s;
}

.button:first-of-type {
    background-color: dodgerblue;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

.button:nth-of-type(2) {
    background-color: red;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

.button:nth-of-type(3) {
    background-color: orange;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

.button:nth-of-type(4) {
    background-color: cadetblue;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

.button:last-of-type {
    background-color: mediumvioletred;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border-radius: 50%;
}

.nieuws img {
    width: 100%;
    height: 70%;
}

.nieuws p {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: large;
}

.nieuws li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1em;
    column-gap: 0.5em;
    list-style-type: none;
}

.nieuws li img {
    width: 7em;
    height: 5em;
    border-radius: 5px;
}

#videos {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#videos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em;
}

#videos li {
    display: flex;
    flex-direction: column;
    width: 17em;
    font-size: small;
}


#videos img {
    width: 17em;
    height: 12em;
    border-radius: 5px;
}

.video {
    margin: 1em;
    width: 12em;
}

aside {
    margin: 1em;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

aside ol p {
    font-weight: 600;
}

aside li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0.5em;
    column-gap: 0.5em;
}

aside img {
    width: 7em;
    height: 5em;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    column-gap: 0.5em;
    border-top: 1px solid var(--border-color);
}
footer li {
    padding: 0.35em;
    font-size: small;
    list-style-type: none;
}

footer .icon:hover {
    animation-name: socialMediaHover;
    animation-duration: 1s;
}

footer #kopjes {
    font-weight: 600;
}

footer p:first-of-type {
    font-weight: 600;
    font-size: small;
}

footer p:last-of-type {
    font-size: small;
    color: gray;
}

#kopjes li:nth-of-type(2) {
    color: dodgerblue;
}

#kopjes li:nth-of-type(3) {
    color: red;
}

#kopjes li:nth-of-type(4) {
    color: orange;
}

#kopjes li:nth-of-type(5) {
    color: cadetblue;
}